<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="header">
            <img src="./public/assets/img/burger.png"/>
            <h1>Eat-Da-Burger!</h1>
        </div>
    </div>
    <br>

    <div class="row">
        <div class = "col-lg-6 text-center" id="burgerList">
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-lg-9 text-center">
                    {{this.id}}. {{this.burger_name}}
                </div>
                <div class="col-lg-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-primary" id="submitButton">Eat Da Burger!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-lg-6 text-center">
        {{#each burger_data}}
            {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
            {{/if}}
        {{/each}}
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">submit</button>
            </form>
            <p>Enter a burger you want!</p>
        </div>
    </div>
</div>